In [1]:
import warnings
warnings.filterwarnings('ignore')

from hdfs import InsecureClient
import pyspark
from pyspark.sql import SparkSession, DataFrame
from pyspark.conf import SparkConf
from functools import reduce
from elasticsearch import Elasticsearch,helpers

import pandas as pd
import numpy as np

# Initializing Spark Session object

In [2]:
class Config:

    def __init__(self,
                elasticsearch_host,
                elasticsearch_auth_user,
                elasticsearch_auth_pass,
                hdfs_datanode_host,
                hdfs_user):
        self.elasticsearch_host = elasticsearch_host
        self.elasticsearch_auth_user = elasticsearch_auth_user
        self.elasticsearch_auth_pass = elasticsearch_auth_pass
        self.hdfs_datanode_host = hdfs_datanode_host
        self.hdfs_user = hdfs_user
        

    def _initialize_spark_session(self,appName,*,config):
        spark_config = pyspark.SparkConf().setAll([(key,value) for key,value in config.items()])
        spark_app = (SparkSession
                    .builder
                    .appName(appName)
                    .config(conf=spark_config)
                    .getOrCreate())
        return spark_app


    def _initialize_elasticsearch_client(self):
        return Elasticsearch(hosts=self.elasticsearch_host,
                            http_auth=(self.elasticsearch_auth_user,self.elasticsearch_auth_pass))

In [3]:
conf_options = {
    "spark.jars": "/home/jovyan/spark_conf/elasticsearch-hadoop-7.11.1/dist/elasticsearch-hadoop-7.11.1.jar",
    "spark.jars": "/home/jovyan/spark_conf/elasticsearch-hadoop-7.11.1/dist/elasticsearch-spark-20_2.11-7.11.1.jar",
    "spark.es.nodes": "elasticsearch",
    "spark.es.port": "9200"
}

In [4]:
config = Config(elasticsearch_host="elasticsearch:9200",
            elasticsearch_auth_user="elastic",
            elasticsearch_auth_pass="elastic@1234",
            hdfs_datanode_host="hdfs://hadoop-filebeat:8020",
            hdfs_user="nifi")
spark = config._initialize_spark_session("SparkApplication",config=conf_options)
es = config._initialize_elasticsearch_client()

# Listing and merging all files in a single PySpark dataframe

In [5]:
client = InsecureClient("http://hadoop-filebeat:50070",user="nifi")
client.list('/dfs-data')

['0babf50d-87e0-4957-ac1b-d0cfe705b788',
 '16b2f3df-37f3-4e6a-bfd5-5764331e43cd',
 '17114891-2b86-4134-aa0b-02d41e665dbc',
 '174787f6-09a5-404b-841c-d65284aa644f',
 '1d7816ce-a52b-431e-ab7c-0d873cf8f3c2',
 '2e4306a2-582c-41d6-bbf3-bdefb64042c3',
 '42e16bca-0ef1-42dc-a3aa-9d667263a8a1',
 '45f4a8df-9619-4261-b131-95715ded2805',
 '5848e67e-6b2c-497f-bd82-d9d47c076281',
 '697821bf-193b-4f3e-8fd9-347f76997b49',
 '6da5d622-33f9-44c9-9090-dc571a1f800d',
 '6f140c1d-7b25-446a-802b-a608c1cc3b23',
 '752ea9e5-7cc8-4df8-9ab5-84e3bdefbb50',
 '772165f7-b15d-493c-afe1-a87ed9a433ea',
 '7bc79187-0797-4e2d-9762-3583f327b10c',
 '7d6e4166-60d6-49ca-8216-367ee44c2914',
 '9e375f66-f788-4f6f-931d-5fe7ac49b735',
 'a5ee1c0f-4f9f-43c1-a6e6-953d9edc5992',
 'b352f056-c122-466b-a2c5-c0a9eb9f48e4',
 'c89822b3-5eba-490f-889a-2e80b445ebe7',
 'e3eaabfb-8460-4c1f-b5fe-aa0aeb619cb5',
 'efbc399f-249f-4456-a07b-157d0cef7fb9']

In [6]:
def fetch_and_merge_files(path,config):
    """
        Generator Function to fetch files stored in the hdfs file system and lazily evaluate them when 
        concatenating them
    """
    directory_path = f"{config.hdfs_datanode_host}/{path}"
    

    def get_files(path):
        nonlocal directory_path
        for file in client.list(path):
            print(f"Processing file: {file}")
            yield spark.read.format("csv").option("delimiter",",").option("header","true").load(f"{directory_path}/{file}")
    
    def unionAll(*dfs):
        return reduce(DataFrame.unionAll,dfs)
    
    return unionAll(*(file for file in get_files(path)))

In [7]:
merged_file = fetch_and_merge_files("/dfs-data",config)

Processing file: 0babf50d-87e0-4957-ac1b-d0cfe705b788
Processing file: 16b2f3df-37f3-4e6a-bfd5-5764331e43cd
Processing file: 17114891-2b86-4134-aa0b-02d41e665dbc
Processing file: 174787f6-09a5-404b-841c-d65284aa644f
Processing file: 1d7816ce-a52b-431e-ab7c-0d873cf8f3c2
Processing file: 2e4306a2-582c-41d6-bbf3-bdefb64042c3
Processing file: 42e16bca-0ef1-42dc-a3aa-9d667263a8a1
Processing file: 45f4a8df-9619-4261-b131-95715ded2805
Processing file: 5848e67e-6b2c-497f-bd82-d9d47c076281
Processing file: 697821bf-193b-4f3e-8fd9-347f76997b49
Processing file: 6da5d622-33f9-44c9-9090-dc571a1f800d
Processing file: 6f140c1d-7b25-446a-802b-a608c1cc3b23
Processing file: 752ea9e5-7cc8-4df8-9ab5-84e3bdefbb50
Processing file: 772165f7-b15d-493c-afe1-a87ed9a433ea
Processing file: 7bc79187-0797-4e2d-9762-3583f327b10c
Processing file: 7d6e4166-60d6-49ca-8216-367ee44c2914
Processing file: 9e375f66-f788-4f6f-931d-5fe7ac49b735
Processing file: a5ee1c0f-4f9f-43c1-a6e6-953d9edc5992
Processing file: b352f056-c122-466b-a2c5-c0a9eb9f48e4
Processing file: c89822b3-5eba-490f-889a-2e80b445ebe7
Processing file: e3eaabfb-8460-4c1f-b5fe-aa0aeb619cb5
Processing file: efbc399f-249f-4456-a07b-157d0cef7fb9

In [8]:
df = merged_file.toPandas()
final_df = df.drop_duplicates()

# Performing Analysis

In [9]:
final_df.columns

Index(['year', 'leading_cause', 'sex', 'race_ethnicity', 'deaths',
       'death_rate', 'age_adjusted_death_rate'],
      dtype='object')

In [10]:
#replacing values 
final_df.replace([".","M","F","Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)","Black Non-Hispanic","White Non-Hispanic"],
                 [np.nan,"Male","Female","Accidents Except Drug Poisoning (V01-X39, X43, X45-X59, Y85-Y86)","Non-Hispanic Black","Non-Hispanic White"],
                 inplace=True)

In [11]:
def convert_columns(data_df,columns,fill_anchor_column):
    """
        converting death rates and age adjusted death rates to float types 
        and replacing the nan values with the mean of the group for that year
        
        Input
        
        data_df(pandas.DataFrame): dataframe to convert columns of
        columns(dict): dict containing column names and the type the column to be converted to
        fill_anchor_column(str): name of the anchor colume, by which the dataframe would be grouped 
                            and the filling value would be calculated
        
        Output
        
        copied_df(pandas.DataFrame): processed dataframe
    """
    copied_df = data_df.copy(deep=True)
    for column in columns:
        copied_df[column] = copied_df[column].astype(columns[column])
        copied_df[column] = copied_df.groupby(fill_anchor_column)[column].transform(lambda x:x.fillna(x.mean()))
    return copied_df


def calc_percentages(data_df,target_column):
    """
        Function to calculate percentages of each column value and output pd.Series
        
        Input:
        
        data_df(pandas.DataFrame): dataframe to calculate percentages from
        target_column(str): targt column to calculate percentages of
        
        Output:
        pandas.Series: series containing the calculated percentages for target_column of data_df
    """
    return data_df[target_column].apply(lambda x:int(x/data_df[target_column].values[0]*100))

### Some topics for analysis

#### - Analysis across genders
    - What are the leading cause of deaths per year, with their average death count, across genders
    - What are the average deaths per year, across genders
#### - Analysis for race ethnicites
    - What are the leading cause of deaths per year, across race ethnicites

Some notes:
- Death rates and age adjusted death rates are not available for minor and unknown ethnicites

In [12]:
segregated_df = final_df[~final_df['race_ethnicity'].isin(['Not Stated/Unknown','Other Race/Ethnicity'])]
segregated_df = convert_columns(segregated_df,{"deaths":float,"death_rate":float,"age_adjusted_death_rate":float},"year")

In [13]:
sex_analysis_pivot = pd.pivot_table(data=segregated_df,
                       index='year',
                       columns='sex',
                       values='deaths',
                       aggfunc=np.sum,
                       fill_value=0).astype(int)

In [14]:
sex_analysis_pivot['Female_pct_change'] = calc_percentages(sex_analysis_pivot,"Female")
sex_analysis_pivot['Male_pct_change'] = calc_percentages(sex_analysis_pivot,"Male")
sex_analysis_pivot

sex   Female   Male  Female_pct_change  Male_pct_change
year
2010   17530   7865                100              100
2011   29545  27026                168              343
2012   30134  27394                171              348
2013   28267  27212                161              345
2014   27627  25710                157              326
2015   27076  26067                154              331
2016   26769  26468                152              336
2017   26765  26553                152              337

- The above table suggests that for females, the total death counts shows a incline of 52% from 17530 to 26765, while for males the average death counts have more than tripled (surge of 237%), from 7865 to 26553. 
- This shows that the matter of concern is much higher in males as compared to females

### Lets dive deep to understand the reason for deaths amongst the genders

In [15]:
leading_cause_df = segregated_df.groupby(by=["year","sex"])[['leading_cause','deaths']].max().reset_index()
leading_cause_df[leading_cause_df['sex']=='Female']

    year     sex                                      leading_cause  deaths
0   2010  Female  Mental and Behavioral Disorders due to Acciden...  5351.0
2   2011  Female  Nephritis, Nephrotic Syndrome and Nephrisis (N...  5016.0
4   2012  Female                               Septicemia (A40-A41)  4719.0
6   2013  Female                          Viral Hepatitis (B15-B19)  4535.0
8   2014  Female                               Septicemia (A40-A41)  4507.0
10  2015  Female                               Septicemia (A40-A41)  4494.0
12  2016  Female                               Septicemia (A40-A41)  4306.0
14  2017  Female                               Septicemia (A40-A41)  4279.0

In [16]:
leading_cause_df[leading_cause_df['sex']=='Male']

    year   sex                                      leading_cause  deaths
1   2010  Male  Mental and Behavioral Disorders due to Acciden...  1354.0
3   2011  Male  Mental and Behavioral Disorders due to Acciden...  4220.0
5   2012  Male                               Septicemia (A40-A41)  4156.0
7   2013  Male  Mental and Behavioral Disorders due to Acciden...  4085.0
9   2014  Male  Nephritis, Nephrotic Syndrome and Nephrisis (N...  3990.0
11  2015  Male                          Viral Hepatitis (B15-B19)  4015.0
13  2016  Male                             Peptic Ulcer (K25-K28)  4054.0
15  2017  Male                               Septicemia (A40-A41)  4082.0

- The above analysis shows that for females, the leading cause of death in recent years has been Septicemia, a disease which can occur through urinary tract infections, pneumonia, kidney infections etc.
- As compared, the causes are quite different for men, between Mental and Behavioral disorders due to poisoning and other psychoactive substance use, viral Hepatitis, Peptic Ulcer and Septicemia

### Analysis of the reasons leading to the disease
- A quick look on the internet and we find out that Septicemia is caused by lung and kidney infection, body organs affected by smoking and alcohol consumption. Furthermore, psychoactive substances do include alcohol and nicotine(present in cigarettes).
- In addition risk factors of peptic ulcers include smoking and alcohol consumption. All these suggest that <b>alcohol consumption and smoking have been the major reasons causing deaths in the last 7 years</b>
- Also, looking at the surge of death counts, while the leading cause being the same, it is quite possible that alcohol consumption and smoking have increased in NYC in the span of 7 years

### Let's analyze the death rates in context of race ethnicites

In [17]:
race_ethnicity_pivot = pd.pivot_table(data=segregated_df,
                                   index='year',
                                   columns='race_ethnicity',
                                   values='deaths',
                                   aggfunc=np.sum,
                                   fill_value=0).astype(int)

In [18]:
pivot_cols = ('Asian_Pacific_pct_change','Hispanic_pct_change','Non-Hispanic_Black_pct_change','Non-Hispanic_White_pct_change','Other_Race_pct_change')

table_cols = ('Asian and Pacific Islander','Hispanic','Non-Hispanic Black','Non-Hispanic White','Other Race/ Ethnicity')

for pivot_col,table_col in zip(pivot_cols,table_cols):
    race_ethnicity_pivot[pivot_col] = calc_percentages(race_ethnicity_pivot,table_col)

race_ethnicity_pivot

race_ethnicity,Asian and Pacific Islander,Hispanic,Non-Hispanic Black,Non-Hispanic White,Other Race/ Ethnicity,Asian_Pacific_pct_change,Hispanic_pct_change,Non-Hispanic_Black_pct_change,Non-Hispanic_White_pct_change,Other_Race_pct_change
year,,,,,,,,,,
2010,1125,6387,4720,10347,2816,100,100,100,100,100
2011,3341,9391,13910,25549,4381,296,147,294,246,155
2012,3446,9420,13864,24904,5895,306,147,293,240,209
2013,3651,9672,13911,24891,3354,324,151,294,240,119
2014,3880,9687,13755,24533,1482,344,151,291,237,52
2015,4078,10182,14178,24568,137,362,159,300,237,4
2016,4252,10465,14239,24146,135,377,163,301,233,4
2017,4524,10637,14347,23679,131,402,166,303,228,4

- The above analysis shows that Asians and non-Hispanic black people are the two ethnicities where the surge in death counts is highest. The death counts in asians have more than quadrupled, from 1125 to 4524. Whereas, for non-hispanic black people, the death counts have more than tripled.

- Non-hispanic white people have accounted for the most deaths amongst all race ethnicities.

- The data for other races is inconsistent and any insights generated based on that data would be inconsistent.

### Let's do analysis based on the death rate amongst ethnicities

In [19]:
ethnicity_death_rate_pivot = segregated_df.groupby(by=["race_ethnicity","year","leading_cause"])[['death_rate']].mean().reset_index()
ethnicity_death_rate_pivot[ethnicity_death_rate_pivot['race_ethnicity']=="Asian and Pacific Islander"].groupby("year").max()

,race_ethnicity,leading_cause,death_rate
year,,,
2010,Asian and Pacific Islander,Malignant Neoplasms (Cancer: C00-C97),73.600000
2011,Asian and Pacific Islander,Malignant Neoplasms (Cancer: C00-C97),91.600000
2012,Asian and Pacific Islander,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",97.000000
2013,Asian and Pacific Islander,Viral Hepatitis (B15-B19),96.000000
2014,Asian and Pacific Islander,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",97.350000
2015,Asian and Pacific Islander,Parkinson's Disease (G20),96.383551
2016,Asian and Pacific Islander,Malignant Neoplasms (Cancer: C00-C97),100.725757
2017,Asian and Pacific Islander,Malignant Neoplasms (Cancer: C00-C97),108.319698

In [20]:
ethnicity_death_rate_pivot[ethnicity_death_rate_pivot['race_ethnicity']=="Non-Hispanic Black"].groupby("year").max()

,race_ethnicity,leading_cause,death_rate
year,,,
2010,Non-Hispanic Black,Human Immunodeficiency Virus Disease (HIV: B20...,217.700000
2011,Non-Hispanic Black,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",215.000000
2012,Non-Hispanic Black,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",221.950000
2013,Non-Hispanic Black,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",222.050000
2014,Non-Hispanic Black,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",217.950000
2015,Non-Hispanic Black,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",229.962208
2016,Non-Hispanic Black,Mental and Behavioral Disorders due to Acciden...,233.237448
2017,Non-Hispanic Black,Mental and Behavioral Disorders due to Acciden...,243.860108

In [21]:
ethnicity_death_rate_pivot[ethnicity_death_rate_pivot['race_ethnicity']=="Non-Hispanic White"].groupby("year").max()

,race_ethnicity,leading_cause,death_rate
year,,,
2010,Non-Hispanic White,Malignant Neoplasms (Cancer: C00-C97),374.200000
2011,Non-Hispanic White,Mental and Behavioral Disorders due to Acciden...,335.250000
2012,Non-Hispanic White,Septicemia (A40-A41),321.500000
2013,Non-Hispanic White,Septicemia (A40-A41),311.250000
2014,Non-Hispanic White,Septicemia (A40-A41),307.550000
2015,Non-Hispanic White,Septicemia (A40-A41),308.206813
2016,Non-Hispanic White,Mental and Behavioral Disorders due to Acciden...,305.379117
2017,Non-Hispanic White,Mental and Behavioral Disorders due to Acciden...,303.908625

### Analysis of the death rates amongst ethnicities
- The above pivots show that the major reasons for deaths amongst Asians is Cancer. However, the death rate has increased by 47% from 73.6 in 2010 to 108.31 in 2017.
- For non-Hispanic Black people, Nephritis, Nephrotic Syndrome and Nephrisis have been the major reason for death rates for several years.
- <b>The death rate data for non-Hispanic White people is very representative of the overall population amongst the genders</b>, where Septicemia and mental and behavioral disorders due to overdose are major reasons for deaths
- The <b>death rate</b> for the most prevelant reason amongst <b>non-Hispanic White people</b> has actually <b>decreased</b> along the years. But the <b>actual death count has increased by 128%</b>. This suggests that there is not a single major reason driving the death counts amongst white people, but several causes that are critical

# Saving csv files to /csv-data in hdfs

listing files to save
- segregated_df
- sex_analysis_pivot
- leading_cause_df
- race_ethnicity_pivot
- ethnicity_death_rate_pivot

In [25]:
def save_dataframe_to_hdfs(data_df,path,config,*target_file_names):
    """
        Function to store dataframe in hdfs
        
        Input:
        
        data_df(pandas.DataFrame): dataframe to write to hdfs
        host: url where hdfs is hosted
        port: port on which hdfs service is running
        path: the directory path to store dataframe to
    """

    for target_file_name in target_file_names:
        print(f"Processing file: {target_file_name}")
        sdf = spark.createDataFrame(data_df)
        sdf.write.format("csv").mode("overwrite").save(f"{config.hdfs_datanode_host}/{path}/{target_file_name}")

In [26]:
save_dataframe_to_hdfs(segregated_df,'csv-data',config,'segregated_df.csv','sex_analysis_pivot.csv','leading_cause_df.csv','race_ethnicity_pivot.csv','ethnicity_death_rate_pivot.csv')

Processing file: segregated_df.csv
Processing file: sex_analysis_pivot.csv
Processing file: leading_cause_df.csv
Processing file: race_ethnicity_pivot.csv
Processing file: ethnicity_death_rate_pivot.csv

## Inserting documents into Elasticsearch cluster

In [27]:
def save_dataframe_to_elasticsearch(data_df,es_client,target_index_name):
    """
        Function to save pandas dataframe to elasticsearch
        
        Input:
        data_df(pandas.DataFrame): pandas DataFrame to store in elasticsearch
        es_client: elasticsearch client to store data
        target_index_name: name of index in elasticsearch cluster to put the data onto
        keys_to_use: columns name in dataframe to fetch
    """

    def doc_generator(data_df):
        data_df_iter = data_df.iterrows()
        for index, document in data_df_iter:
            yield{
                "_index":target_index_name,
                "_id": str(index),
                "_source": {key: document[key] for key in document.keys()}
            }

    helpers.bulk(es_client,doc_generator(data_df))

In [31]:
indices = (segregated_df,sex_analysis_pivot,leading_cause_df,race_ethnicity_pivot,ethnicity_death_rate_pivot)
index_names = ('segregated_data','gender_based_analysis_data','leading_cause_data','race_ethnicity_data','ethnicity_death_rate_data')
reset_indices = (False,True,False,True,False)

for index,index_name,reset_index_condition in zip(indices,index_names,reset_indices):
    if reset_index_condition:
        index = index.reset_index()
    save_dataframe_to_elasticsearch(index,es,index_name)